<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <a class="menu_item" href="/">Main Page</a>
        <a class="menu_item" href="/register">Register</a>
        <a class="menu_item" href="/login">Login</a>
        <a class="menu_item" href="/admin">Admin</a>
    </div>
    {{{body}}}
</body>
</html>