<div class="menu">
    <a class="menu_item" href="/">Main Page</a>
    <a class="menu_item" href="/register">Register</a>
    <a class="menu_item" href="/login">Login</a>
    <a class="menu_item" href="/admin">Admin</a>
</div>
<div class="header">Nie masz dostępu do tej strony</div>