<div class="header">Login Page</div>
<div class="content content-login">
    <form action="/login" method="post">
        <label for="login">Login:<input type="text" required name="login"/></label>
        <label for="password">Password:<input type="password" required name="password"/></label>
        <input type="submit" value="Zaloguj"/>
    </form>
</div>
